

langchain
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-openai
langchain-groq
langchain-google-genai
python-dotenv
faiss-cpu 
pypdf
sentence-transformers
fastapi
uvicorn[standard]
